/* COLORS PALETTE */
:root{
    --color-light:#ffffff;
    --color-dark:#000000;
    --color-primary:#1abc9c;
    --color-secondary:#2c3e50;
    --color-tertiary:#3a546d;
    --color-bg-card-1:#ba4b63;
    --color-bg-card-2:#1ea4b6;
    --color-bg-card-3:#140f0f;
    --color-bg-card-4:#1c83c1;
    --color-bg-card-5:#0e38b5;
    --color-bg-card-6:#ccb2a3;
}
/* DEBUG */
.debug{
    border: 2px solid black;
}
.debug-2{
    border: 2px solid red;
}
.debug-3{
    border: 2px solid blue;
}

/* UTILITIES */
.mt-20{
    margin-top: 20px;
}
.pd-15{
    padding: 15px;
}
.pd-t-20{
    padding-top: 20px;
}
/* HEADER+NAV */
header{
    background-color:var(--color-secondary);
}
.nav-btn{
    text-decoration: none;
    color: var(--color-light);
    padding:10px;
}

/* START SECTION */
.start{
    background-color: var(--color-primary);
    padding-bottom: 30px;
}
.start-btn a{
    text-decoration: none;
    color: var(--color-light);
    font-size: 1.5em;
}
.top-start{
    max-width: 20%;
}
.top-start img{
    width: 100%;
}
/* CARDS SECTION */
#portfolio{
    padding: 20px;
}
.card img{
    border-radius: 10px;
}
/* CONTACT SECTION */
#contact-me{
    padding: 20px;
}
input[type=text] {
    border: none;
    border-bottom: 2px solid #b6b6b6;
    border-radius: 0px;
  }
input[type=email] {
    border: none;
    border-bottom: 2px solid #b6b6b6;
    border-radius: 0px;
  }
input[type=number] {
    border: none;
    border-bottom: 2px solid #b6b6b6;
    border-radius: 0px;
  }
input[type=textarea] {
    border: none;
    border-bottom: 2px solid #b6b6b6;
    border-radius: 0px;
  }
/* ABOUT SECTION */
#about{
    background-color: var(--color-primary);
}
.download-btn{
    border: 1px solid var(--color-light);
    text-decoration: none;
    color: var(--color-light);
    padding: 6px;   
}
/* LOCATION SECTION */
#location{
    background-color: var(--color-tertiary);
}
.bootstrap{
    color: var(--color-primary);
}
/* FOOTER */
footer{
    background-color: var(--color-secondary);
    padding: 20px;
    margin-bottom: 20px;
}